* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    align-items: center;
    cursor: pointer;
}

.container-fluid h1 {
    font-size: 20px;
    margin: 0;
}

.container-fluid h3 {
    display: flex;
    align-items: flex-end;
    font-size: 15px;
    margin: 0;
}

ul {
    list-style-type: none;
}

.navbar__menu li a {
    display: flex;
    align-self: flex-end;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    color: #706a5d;
    text-decoration: none;
    padding: 5px;
    padding-right: 40px;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-bottom: 0;
}
