body {
    background-color: white;
}

.contact-info .fa {
    margin-top: 0.5vh;
}

#paddingContact {
    margin-top: 0;
}

.section-title img {
    max-height: 45vh;
}

.section-title {
    padding-top: 0vh !important;
    padding-bottom: 2vh !important;
    
}

#paddingContactImage {
    padding-top: 0vh;
    margin-left: 18vw;
    padding-right: 2vw;
}

#PaddingDescription {
    padding-top: 0.2vh;
}

#contact .form-control {
    border: none;
    width: 25vw !important;
    border-bottom: 1.5px solid #000000;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
    font-size: 1.8vh;
    margin-top: 1vh;
    margin-left: 5vw;
    margin-bottom: 1vh;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.cardBody {
    display: flex;
    justify-content: center;
    margin: auto;
    size: 30vh;
}

.cardLogin {
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}

.logForm {
    border: none;
    border-bottom: 2px solid #000000;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
    font-size: 1.8vh;
    margin-top: 1vh;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    margin-bottom: 4vh;
}

.buttonForm {
    border: none;
    border-radius: 0px;
    background-color: transparent;
    box-shadow: none;
    font-size: 1.8vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    margin-left: 7vh;
}

#contact .form-control:focus {
    border-bottom-color: #000000;
}

#contact input {
    height: 2.86vw;
}

#contact button#submit {
    border: none;
    color: #000000;
    height: 2.6vw;
    margin-top: 5vh;
    margin-left: 15vw;
}

#contact button#submit:hover {
    color: #ffd000;
}
#contact{
    margin: auto;
}



@media only screen and (max-width: 768px) {
    #paddingContact {
        padding-left: 10vw;
        padding-top: 3vh;

    }

    #contact button#submit {
        padding-left: 25vw;
    }
    .cardLogin{
        margin-left: 8vh;
    }
    .noDeco{
        margin-top: 8vh;
        margin-left: 2vh;
    }


    #contact .form-control {
        width: 100% !important;
        padding: 5vw;
    }

}