.createphoto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

div#picture-uploaded   {
    order: 2;}

.form1 {
    display: flex;
    margin: auto;
    max-width: 800px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
}

.inputs-container label {
    margin-top: 18px;
    margin-right: 10px;
}

.inputs {
    margin-top: 18px;
}

.buttons {
    align-self: center;
    margin-top: 60px;
}

.photo-preview {
    width:300px;
    min-height:100px;
    border: 2px solid #dddddd;
    margin-top:15px;


    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}
#picture-uploaded img {
    margin-top: 40px;
    margin-bottom: 15px;
    max-width: 300px;
    max-width: 250px;
}

.form-control1 {
    border-radius: 2px;
    color: black;
    border: none;
}

.photo-preview__image {
    display:none;
    width:100%;
}

/****RESPONSIVE****/
@media only screen and (max-width: 768px) {

    .form1 {
        display: flex;
        flex-direction: column;
        margin: auto;

    }

    
    .buttons {
        display: flex;
        flex-direction: row;
        align-self: center;
        align-items: baseline;
        padding: 0px;
    }

    .buttons a {
        width: 130px;
    }

    .inputs {
        max-width: 300px;
        margin-top: 5px;
    }

    .inputs-container label {
        margin-top: 5px;
        margin-right: 8px;
    }

    #picture-uploaded img {
        display: flex;
        justify-content: center !important;
        align-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 15px;
        max-width: 200px;
        max-width: 150px;
    }


    
}
