.createphoto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#picture-uploaded {
    order: 2;
}

.form1 {
    display: flex;
    margin: auto;
    max-width: 800px;
}

.form2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 800px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
}

.inputsGeneral {
    display: flex;
}

.inputs-container label {
    margin-top: 18px;
    margin-right: 10px;
}

.inputs {
    margin-top: 18px;
}

.buttons {
    align-self: center;
    margin-top: 30px;
}

.photo-preview {
    width: 300px;
    min-height: 100px;
    border: 2px solid #dddddd;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.buttons2 {
    align-self: center;
    margin-top: 10px;
}

#picture-uploaded1 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#picture-uploadedEdit {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}

#picture-uploadedEdit img {
    max-width: 250px;
}

.editPhotoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control1 {
    border-radius: 2px;
    color: black;
    border: none;
}

.photo-preview__image {
    display: none;
    width: 100%;
}

/****RESPONSIVE****/
@media only screen and (max-width: 20vh) {
    .form1 {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .inputs-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 1vh;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        align-self: center;
        align-items: baseline;
        padding: 0px;
    }

    .buttons a {
        width: 18vw;
    }

    .inputs {
        max-width: 3vw;
    }

    .inputs-container label {
        margin-top: 5px;
        margin-right: 8px;
    }

    .photo-preview__image {
        display: none;
        width: 100%;
    }
}
