.dash {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.tablee {
    --bs-table-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 4rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    
}

#bottom {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

#bottom:hover {
    color: #ffd000;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.inputTitle {
    width: 140px;
    font-weight: bold;
}


/*WRAPPER*/
.wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

.column h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorySelect1 {
    display: flex;
    justify-content: center;
}

.titleTwo {
    display: flex;
}



.title-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.category-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.categoryTitleOne1 {

    padding-right: 20px;
    font-size: 19px;

}

.categoryTitleOne {
    margin-bottom: 25px;
    padding-right: 20px;
    font-size: 19px;
    padding-bottom: 5px;
}

.categoryTitle {
    padding-right: 20px;
    font-size: 19px;
    padding-bottom: 5px;
}








.downButtons {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    left: 0;
    bottom: 0%;
    height: 11%;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
}

.addButton {
    align-self: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-weight: bold;
    font-size: 25px;

}

.cancelButton {
    align-self: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-weight: bold;
    font-size: 25px;
    margin-left: 60px;
    margin-right: 60px;
}

.saveButton {
    align-self: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-weight: bold;
    font-size: 25px;

}

.saveButton:hover {
    color: #ffd000;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.addButton:hover {
    color: #ffd000;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.cancelButton:hover {
    color: #ffd000;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}