* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
body {
    background-color: white;
}

/*******LOGO*******/
.logo {
    display: block;
    justify-content: flex-start !important;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 3.5px;
    align-items: center;
    cursor: pointer;
    padding-left: 78px;
    letter-spacing: 1.5px;
    text-decoration: none !important;
    color: black;
}

.logo h1 {
    font-size: 20px;
    letter-spacing: 0.3px;
    margin-bottom: 0;
}

.adminLogo {
    font-size: 20px;
    letter-spacing: 0.3px;
    margin-top: 10px;
    margin-bottom: 0;
}

.logo h3 {
    font-size: 10px;
    margin-left: 52px;
    color: #706a5d;
}

.logo:hover {
    color: black;
}

/********GALLERY************/
.containerGalleryHome {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 20px;
    margin-top: 80px;
}

.photosHome {
    line-height: 0;
    -webkit-row-count: 3;
    -webkit-column-gap: 40px;
    -moz-row-count: 3;
    -moz-ro-gap: 40px;
    column-count: 3;
    column-gap: 40px;
    column-fill: balance !important;
}

.photosHome img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 40px;
}

/**album**/
.photosHome a {
    text-decoration: none;
}

.photo1:hover {
    filter: opacity(50%);
    transition: all 0.3s ease;
  }




 .text1 {
    position: absolute;
    align-self: center;
    margin-top: 8%;
    padding-left: 80px;
    padding-right: 80px;

    font-size: 30px;
    color: #000000;
    text-decoration: none;
    background-color:rgba(255, 255, 255, 0.527);
}



.albumHover {
    display: flex;
    flex-direction: column;
    break-inside: avoid-column;
}

  
/*********MODAL******************/
.myImg {
    cursor: pointer;
    transition: 0.2s;
}

/* The Modal */
.myModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 47px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
}

/* Modal Content (image) */
#modalImage-container {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    flex-direction: column;
    margin: auto;
    width: 700px;
    height: 565px;
}

.modalImage {
    display: flex;
    margin: auto !important;
    object-fit: contain !important;
    width: auto;
    max-height: 540px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

}

/* Modal Text */
.caption {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 0;
    height: 45px;
    width: 80%;
    max-width: 700px;

}



/* Add Animation */
.modalImaget,
.caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 35px;
    right: 35px;
    color: #000000 !important;
    font-size: 60px !important;
    font-weight: bold !important;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #d4af37 !important;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens 
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
*/

/*******RESPONSIVE*******/
@media screen and (max-width: 975px) {
    .photosHome {
        line-height: 0;
        -webkit-column-count: 2;
        -webkit-column-gap: 40px;
        -moz-column-count: 2;
        -moz-column-gap: 40px;
        column-count: 2;
        column-gap: 40px;
        column-fill: balance !important;
    }

    .modalImage {
        max-width: 450px;
    }    
}

@media screen and (max-width: 600px) {
    .photosHome {
        line-height: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 40px;
        -moz-column-count: 1;
        -moz-column-gap: 40px;
        column-count: 1;
        column-gap: 40px;
        column-fill: balance !important;
    }

    #modalImage-container {
        width: 250px !important;
        margin: 20 !important;
        padding: 0 !important;
    }


    .modalImage {
        max-width: 380px !important;
    }  

    .logo h1 {
        font-size: 12px;
        letter-spacing: 0.3px;
        margin-bottom: 0;
    }
    
    .adminLogo {
        font-size: 15px;
        letter-spacing: 0.3px;
        margin-top: 10px;
        margin-bottom: 0;
    }
    
    .logo h3 {
        font-size: 8px;
        margin-left: 25px;
        color: #706a5d;
    }
}