* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: white;
}

/*******LOGO*******/
#logoAdmin{
    margin: 15vh 50vh 10vh 76vh;
    z-index: 1;
    
}
.logo {
    display: block;
    justify-content: flex-start !important;
    flex-direction: column;
    margin-left: 0;
    margin-top: 0.3vh;
    align-items: center;
    cursor: pointer;
    padding-left: 4vw;
    letter-spacing: 0.07vw;
    text-decoration: none !important;
    color: black;
}

.logo h1 {
    font-size: 2vh;
    letter-spacing: 0.01vw;
    margin-bottom: 0;
}

.adminLogo {
    font-size: 2vh;
    letter-spacing: 0.01vw;
    margin-top: 1vh;
    margin-bottom: 0;
}


.logo h3 {
    font-size: 1vh;
    margin-left: 2.5vw;
    color: #706a5d;
}

.logo:hover {
    color: black;
}

.containerGalleryHome {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5.2vw;
    padding-right: 5.2vw;
    margin-bottom: 2vh;
    margin-top: 8.2vh;
}

.photosHome {
    line-height: 0;
    -webkit-row-count: 3;
    -webkit-column-gap: 4vh;
    -moz-row-count: 3;
    -moz-ro-gap: 4vh;
    column-count: 3;
    column-gap: 4vh;
    column-fill: balance !important;
}

.photosHome img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 4vh;
}

.photosHome a {
    text-decoration: none;
}

.photo1:hover {
    filter: opacity(50%);
    transition: all 0.3s ease;
}

.text1 {
    position: absolute;
    align-self: center;
    margin-top: 8%;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 3vh;
    color: #000000;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.527);
}

.albumHover {
    display: flex;
    flex-direction: column;
    break-inside: avoid-column;
}

.myImg {
    cursor: pointer;
    transition: 0.2s;
}

.myModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 4.7vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.9);
}

#modalImage-container {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    flex-direction: column;
    margin: auto;
    width: 36vw;
    height: 80vh;
}

.modalImage {
    display: flex;
    margin: auto !important;
    object-fit: contain !important;
    width: auto;
    max-height: 540px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.caption {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 0;
    height: 4.5vh;
    width: 80%;
    max-width: 700px;
}

.modalImaget,
.caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.close {
    position: absolute;
    top: 3.5vh;
    right: 0.18vw;
    color: #000000 !important;
    font-size: 6vh !important;
    font-weight: bold !important;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #d4af37 !important;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 975px) {
    .photosHome {
        line-height: 0;
        -webkit-column-count: 2;
        -webkit-column-gap: 4vh;
        -moz-column-count: 2;
        -moz-column-gap: 4vh;
        column-count: 2;
        column-gap: 4vh;
        column-fill: balance !important;
    }

    .modalImage {
        max-width: 450px;
    }
}

@media screen and (max-width: 600px) {
    .photosHome {
        line-height: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 4vh;
        -moz-column-count: 1;
        -moz-column-gap: 4vh;
        column-count: 1;
        column-gap: 4vh;
        column-fill: balance !important;
    }

    #modalImage-container {
        width: 13.02vw !important;
        margin: 20 !important;
        padding: 0 !important;
    }

    .modalImage {
        max-width: 19.79vw !important;
    }

    .logo h1 {
        font-size: 2vh;
        letter-spacing: 0.01vw;
        margin-bottom: 0;
    }
    
    #logoAdmin {
        margin: 10vh 2vh;
    }

    .logo h3 {
        font-size: 1vh;
        margin-left: 10vw;
        color: #706a5d;
    }
}
