
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: white;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start !important;
    background-color: white;
}

#header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 2px solid red;
}

.logo {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    align-items: center;
    cursor: pointer;
    padding-left: 45px;
}

.container-fluid h1 {
    font-size: 20px;
    margin: 0;
    letter-spacing: 0.3px;
}

.container-fluid h3 {
    display: flex;
    align-items: flex-end;
    font-size: 10px;
    margin: 0;
    color: #706a5d;
}

ul {
    list-style-type: none;
}

.navbar__menu li a {
    display: flex;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    color: #706a5d;
    text-decoration: none;
    padding: 0px;

    margin-top: 6px;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-bottom: 0;
}

.nav-link {
    margin-left: 25px;
}

.gal-item {
    overflow: hidden;
    padding: 8px;
}
.gal-item .box {
    height: 100%;
    overflow: hidden;
}
.box img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

/*GALLERY*/

.containerGallery {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 33.33%;
    max-width: 33.33%;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
